html, body {
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {

}

.title {
  padding-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}
