html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #ffffff;
  background-color: #000000;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {

}

.title {
  padding-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.green {
  color: rgb(0, 255, 0);
}

.red {
  color: rgb(255, 0, 0);
}
