<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content [formGroup]="settingsForm">
  <p>
    <mat-slide-toggle formControlName="showCurrentEvent">Show Current Event</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle formControlName="showPlayerPosition">Show Player Position</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle formControlName="showStatistics">Show Statistics</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle formControlName="showEnemyHPBar">Show Enemy HP Bar</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle formControlName="showDebugging">Show Debugging</mat-slide-toggle>
  </p>
  <br>
  <mat-form-field>
    <mat-label>Polling Rate</mat-label>
    <input autocomplete="off" formControlName="pollingRate" matInput/>
    <mat-icon
      matSuffix
      matTooltip="This setting controls how often the ui is updated. If you are having performance issues, increase this number."
      matTooltipPosition="left">info_outline
    </mat-icon>
    <mat-hint>in milliseconds (one second is 1,000 milliseconds)</mat-hint>
    <mat-error
      *ngIf="settingsForm.get('pollingRate').hasError('pattern')">
      Polling Rate must be a <strong>number</strong>
    </mat-error>
    <mat-error
      *ngIf="settingsForm.get('pollingRate').hasError('min')">
      Polling Rate must be greater than <strong>250 milliseconds</strong>
    </mat-error>
    <mat-error
      *ngIf="settingsForm.get('pollingRate').hasError('required')">
      Polling Rate is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>SRT Host Address</mat-label>
    <input autocomplete="off" formControlName="srtHostAddress" matInput/>
    <mat-hint>ip address or domain name</mat-hint>
    <mat-error
      *ngIf="settingsForm.get('srtHostAddress').hasError('required')">
      SRT Host Address is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>SRT Host Port</mat-label>
    <input autocomplete="off" formControlName="srtHostPort" matInput/>
    <mat-error
      *ngIf="settingsForm.get('srtHostPort').hasError('pattern')">
      SRT Host Port must be a <strong>number</strong>
    </mat-error>
    <mat-error
      *ngIf="settingsForm.get('srtHostPort').hasError('required')">
      SRT Host Port is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="closeDialog()"
          mat-raised-button>Close
  </button>
  <button (click)="saveSettings()" [disabled]="!settingsForm.valid"
          color="primary"
          mat-raised-button>Save
  </button>
</mat-dialog-actions>
